
<section class="section section_face">
    <div class="section_face-text">Graziello</div>
    <div class="container">
        <div class="face">
            <h1 class="face__title">Натуральные жиросжигающие</h1>
            <div class="face__subtitle">Таблетки</div>
            <div class="face__list">
                <div class="face__item">Способствуют быстрому снижению веса</div>
                <div class="face__item">Нормализуют обменные процессы</div>
                <div class="face__item">Помогают закрепить результат</div>
            </div>
            <div class="face__product">
                <img src="../media/product.png" alt="">
            </div>
            <a href="#" class="face__btn">Заказать сейчас</a>
        </div>
    </div>
</section>
