
<footer class="section footer">
    <div class="container">
        <div class="footer__body">
            <a href="#" class="logo footer__logo"><span>Graziello</span></a>
            <nav class="nav footer__nav">
                <div class="nav__list">
                    <div class="nav__item">
                        <a href="#" class="nav__link active">Главная</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Заказать</a>
                    </div>
                    <div class="nav__item">
                        <a href="delivery.html" class="nav__link">Доставка</a>
                    </div>
                    <div class="nav__item">
                        <a href="commits.html" class="nav__link">Отзывы</a>
                    </div>
                    <div class="nav__item">
                        <a href="contacts.html" class="nav__link">Контакты</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="footer__info">
            <div class="footer__com">2021 Graziello All Rights Reserved.</div>
            <!-- <div class="footer__tel"><span>Горячая линия:</span> <a href="tel:+525585262026">+525585262026</a></div>
            <a href="#" class="footer__fb"><img src="../media/footer/fb.png" alt=""></a> -->
        </div>
        <div class="footer__def">
            <a href="">Пользовательское соглашение</a>
            <a href="">Политика конфиденциальности</a>
        </div>
    </div>
</footer>
