
<footer class="section footer">
    <div class="container">
        <div class="footer__body">
            <a href="index.html" class="logo footer__logo"><span>Graziello</span></a>
            <nav class="nav footer__nav">
                <div class="nav__list">
                    <div class="nav__item">
                        <a href="index.html" class="nav__link active">INICIO</a>
                    </div>
                    <div class="nav__item">
                        <a href="order.html" class="nav__link">ORDENE</a>
                    </div>
                    <div class="nav__item">
                        <a href="delivery.html" class="nav__link">ENVÍO</a>
                    </div>
                    <div class="nav__item">
                        <a href="commits.html" class="nav__link">COMENTARIOS</a>
                    </div>
                    <div class="nav__item">
                        <a href="contacts.html" class="nav__link">CONTACTOS</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- <div class="footer__info">
            <div class="footer__com">2021 Graziello All Rights Reserved.</div>
            <div class="footer__tel"><span>Горячая линия:</span> <a href="tel:+525585262026">+525585262026</a></div>
            <a href="#" class="footer__fb"><img src="../media/footer/fb.png" alt=""></a>
        </div> -->
        <div class="footer__def">
            <!-- <a href="">Acuerdo de usuario (EULA)</a> -->
            <a href="privacy.html">Política de privacidad</a>
        </div>
    </div>
</footer>
