
<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="#" class="logo header__logo"><span>Graziello</span> <p>Официальный сайт</p></a>
            <nav class="nav header__nav">
                <div class="nav__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="nav__list nav__list_header">
                    <div class="nav__item">
                        <a href="/" class="nav__link active">Главная</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Заказать</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Доставка</a>
                    </div>
                    <div class="nav__item">
                        <a href="commits.html" class="nav__link">Отзывы</a>
                    </div>
                    <div class="nav__item">
                        <a href="contacts.html" class="nav__link">Контакты</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
