
<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="#" class="logo header__logo">Graziello</a>
            <nav class="nav header__nav">
                <div class="nav__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="nav__list">
                    <div class="nav__item">
                        <a href="#" class="nav__link active">Главная</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Доставка</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Отзывы</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Контакты</a>
                    </div>
                    <div class="nav__item">
                        <a href="#" class="nav__link">Блог</a>
                    </div>
                </div>
            </nav>
            <a href="" class="header__btn">Заказать</a>
        </div>
    </div>
</header>
