
<header class="header">
    <div class="container">
        <a href="#" class="logo">Graziello</a>
        <nav class="nav">
            <div class="nav__item">
                <a href="#" class="nav__link">Главная</a>
            </div>
            <div class="nav__item">
                <a href="#" class="nav__link">Доставка</a>
            </div>
            <div class="nav__item">
                <a href="#" class="nav__link">Отзывы</a>
            </div>
            <div class="nav__item">
                <a href="#" class="nav__link">Контакты</a>
            </div>
            <div class="nav__item">
                <a href="#" class="nav__link">Блог</a>
            </div>
        </nav>
        <a href="" class="header__btn">ЗАКАЗАТЬ</a>
    </div>
</header>
