
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <h2 class="ingredients__title section__title">COMPOSICIÓN DE GRAZIELLO:</h2>
            <div class="ingredients__body">
                <div class="ingredients__item">
                    <div class="ingredients__background">
                        <div class="ingredients__name">CAFE VERDE</div>
                        <div class="ingredients__description">Aumenta velocidad metabólica basal (gasto de calorías en reposo), que representa hasta el 70% de su gasto energético diario. Bloquea el hambre excesiva.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background ingredients__background_style">
                        <div class="ingredients__name">PIMIENTA DE CAYENA</div>
                        <div class="ingredients__description">Acelera el metabolismo, ayuda a la asimilación de proteínas completas. Es esta combinación la que es tan valiosa al perder peso: perder peso y al mismo tiempo no perder masa muscular.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background ingredients__background_style">
                        <div class="ingredients__name">JENGIBRE EN POLVO</div>
                        <div class="ingredients__description">Acelere el proceso de lipólisis, mientras mantiene una buena densidad muscular, acelera el metabolismo, reduce el apetito, aumenta la eficiencia, quema la grasa subcutánea.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background">
                        <div class="ingredients__name">ESPINACAS</div>
                        <div class="ingredients__description">Rompe los depósitos de grasa y los elimina suavemente del cuerpo. Promueve una disminución estable de la masa grasa, manteniendo el corsé muscular en buena forma.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background">
                        <div class="ingredients__name">BRÓCOLI</div>
                        <div class="ingredients__description">Elimina el exceso de agua del organismo, reduce el apetito, estimula el metabolismo aumentando la circulación sanguínea y tiene un efecto beneficioso sobre el estado de la piel, haciéndola más elástica.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background ingredients__background_style">
                        <div class="ingredients__name">LICOPINA</div>
                        <div class="ingredients__description">Bloquea el hambre excesiva por la noche. Favorece la normalización de los procesos digestivos y la quema activa de grasas durante el sueño. Limpia delicadamente el cuerpo de toxinas que interfieren con la pérdida de peso efectiva.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
