
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <h2 class="ingredients__title section__title">Состав Graziello:</h2>
            <div class="ingredients__body">
                <div class="ingredients__item">
                    <div class="ingredients__background">
                        <div class="ingredients__name">Зеленый кофе</div>
                        <div class="ingredients__description">Увеличивает скорость базального метаболизма (расхода калорий на поддержание жизнедеятельности в покое), который составляет до 70% вашего дневного расхода энергии. Блокирует чрезмерное чувство голода.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background ingredients__background_style">
                        <div class="ingredients__name">Кайенский перец</div>
                        <div class="ingredients__description">Ускоряет обмен веществ, помогает усвоению полноценных белков. Именно это сочетание так ценно при похудении – сбросить вес и при этом не потерять мышечную массу.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background ingredients__background_style">
                        <div class="ingredients__name">Имбирный порошок</div>
                        <div class="ingredients__description">Ускоряют процесс липолиза, сохраняя при этом хорошую плотность мышц, ускоряет метаболизм, снижает аппетит, повышает работоспособность, сжигает подкожный жир. </div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background">
                        <div class="ingredients__name">Шпинат</div>
                        <div class="ingredients__description">Расщепляет жировые отложения и мягко выводит их из организма. Способствует стабильному снижению жировой массы, сохраняя мышечный корсет в тонусе.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background">
                        <div class="ingredients__name">Брокколи</div>
                        <div class="ingredients__description">Выводит лишнюю воду из организма, снижает аппетит, стимулирует обмен веществ за счет усиления кровообращения и благоприятно влияет на состояние кожи, делая ее более упругой.</div>
                    </div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__background ingredients__background_style">
                        <div class="ingredients__name">Ликопин</div>
                        <div class="ingredients__description">Блокирует чрезмерное чувство голода в вечернее время. Способствует нормализации пищеварительных процессов и активному жиросжиганию во время сна. Деликатно очищает организм от шлаков и токсинов, мешающих эффективному похудению.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
