
<section class="section section_price">
    <div class="section__text">Graziello</div>
    <div class="container">
        <div class="price">
            <h2 class="price__title">Graziello – цена в Мексике</h2>
            <div class="price__product">
                <img src="../media/product.png" alt="">
            </div>
            <a href="#" class="price__btn">Заказать сейчас</a>
        </div>
    </div>
</section>
