
<section class="section section_why">
    <div class="container">
        <div class="why">
            <h2 class="why__title section__title">VENTAJAS DE GRAZIELLO</h2>
            <div class="why__body">
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-1.jpg" alt="">
                    </div>
                    <div class="why__description">Promueve la pérdida de peso natural</div>
                </div>
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-2.jpg" alt="">
                    </div>
                    <div class="why__description">Tiene un efecto beneficioso en la mejora del metabolismo.</div>
                </div>
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-3.jpg" alt="">
                    </div>
                    <div class="why__description">Mejora los hábitos alimentarios a favor de alimentos saludables</div>
                </div>
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-4.jpg" alt="">
                    </div>
                    <div class="why__description">Ayuda a mantener el resultado</div>
                </div>
            </div>
        </div>
    </div>
</section>
