
<section class="section section_why">
    <div class="container">
        <div class="why">
            <h2 class="why__title section__title">Преимущества Graziello</h2>
            <div class="why__body">
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-1.jpg" alt="">
                    </div>
                    <div class="why__description">Способствует естественному снижению веса</div>
                </div>
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-2.jpg" alt="">
                    </div>
                    <div class="why__description">Благоприятно влияет на улучшение метаболизма</div>
                </div>
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-3.jpg" alt="">
                    </div>
                    <div class="why__description">Улучшает пищевые привычки в пользу здоровых продуктов</div>
                </div>
                <div class="why__item">
                    <div class="why__background">
                        <img src="../media/why/img-4.jpg" alt="">
                    </div>
                    <div class="why__description">Помогает закрепить полученный результат</div>
                </div>
            </div>
        </div>
    </div>
</section>
