
.contacts__subtitle {
    margin-bottom: 80px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.contacts__body {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.contacts__info {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}

.contacts__day {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contacts__phone {
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    
    & img {
        margin-right: 10px;
    }
}

.contacts__mail {
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 10px;
    
    & img {
        margin-right: 10px;
    }
}

.contacts__description {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .contacts__day {
        font-size: 15px;
    }

    .contacts__phone {
        font-size: 28px;

        & img {
            max-width: 30px;
        }
    }

    .contacts__mail {
        font-size: 18px;
        margin-left: 0;

        & img {
            max-width: 30px;
        }
    }
}

@media (max-width: 480px) {
    .contacts__phone {
        font-size: 20px;

        & img {
            max-width: 25px;
        }
    }

    .contacts__mail {
        font-size: 16px;

        & img {
            max-width: 25px;
        }
    }

    .contacts__info {
        padding: 20px;
    }
}
