.header {
    position: fixed;
	top: 0; 
    left: 0;
    z-index: 5;
	width: 100%;
	transition: all .3s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffa26f;

    &.mobile {
        transform: translateY(-100%);
    }
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .header .container {
        max-width: 100% !important;
    }
}

@media (max-width: 768px) {
    .header__body {
        align-items: flex-end;
    }
}
