.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffa26f;

    &.mobile {
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
    }
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .header .container {
        max-width: 100% !important;
    }
}

@media (max-width: 768px) {
    .header__body {
        align-items: flex-end;
    }
}
