<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <section class="section section_commits">
        <div class="section__text">Graziello</div>
        <div class="container">
            <div class="commits">
                <div class="section__title commits__title">Отзывы клиентов</div>
                <div class="commits__box owl-carousel js-commits__box">
                    <div class="commits__item">
                        <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                        <div class="commits__name">Фрида, <span>39 лет</span></div>
                        <div class="commits__description">После пандемии так привыкла все заказывать через интернет, это оказалось так удобно! Заказала Graziello в прошлом месяце, пришло быстро, коробка целая. Прошло три недели, жалею, что не взвесилась в первый день, поэтому точно не знаю, сколько сбросила уже, но по ощущениям эффект есть. Буду принимать дальше. </div>
                        <div class="commits__icon">
                            <a href=""><img src="../media/commits/icon-1.png" alt=""></a>
                            <a href=""><img src="../media/commits/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="commits__item">
                        <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                        <div class="commits__name">Химена, <span>42 года</span></div>
                        <div class="commits__description">Понравилось, что не нужно платить заранее. Бывает, закажешь и нервничаешь, вдруг что-то не то привезут. Тут оплата курьеру в руки. Увидела, что в посылке, заплатила, никаких вопросов. Доставка оперативная, ребята молодцы. Как в деле, пока не могу сказать, принимаю чуть больше недели. Твердо настроена похудеть c Graziello за месяц к свадьбе сестры.</div>
                        <div class="commits__icon">
                            <a href=""><img src="../media/commits/icon-1.png" alt=""></a>
                            <a href=""><img src="../media/commits/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="commits__item">
                        <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                        <div class="commits__name">Паулина, <span>33 года</span></div>
                        <div class="commits__description">Оставила заявку на сайте, консультант вежливо проконсультировал и составил курс. Товар доставили в сроки, упаковка целая. Принимаю строго по инструкции, самочувствие супер, ощущение легкости не покидает изо дня в день! После курса закажу еще несколько упаковок Graziello.</div>
                        <div class="commits__icon">
                            <a href=""><img src="../media/commits/icon-1.png" alt=""></a>
                            <a href=""><img src="../media/commits/icon-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('block/footer') %>
    <%- include('block/script') %>
</body>

</html>