<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <section class="section section_commits">
        <div class="section__text">Graziello</div>
        <div class="container">
            <div class="commits">
                <div class="section__title commits__title">Graziello comentarios</div>
                <div class="commits__box owl-carousel js-commits__box">
                    <div class="commits__item">
                        <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                        <div class="commits__name">Frida, <span>39 años</span></div>
                        <div class="commits__description">Después de la pandemia, me acostumbré a pedir todo a través de Internet, ¡resultó ser muy conveniente! Pedí Graziello el mes pasado, llegó rápido, la caja está completa. Lo uso según las instrucciones. Solo han pasado un par de días, el azúcar sigue siendo normal, pero es demasiado pronto para hablar de recuperación. Se siente como si hubiera un efecto. Tomare más lejos.</div>
                        <div class="commits__icon">
                            <a href=""><img src="../media/commits/icon-1.png" alt=""></a>
                            <a href=""><img src="../media/commits/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="commits__item">
                        <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                        <div class="commits__name">Jimena, <span>42 años</span></div>
                        <div class="commits__description">Me gustó que no hubiera necesidad de pagar por adelantado. Sucede que pides y te pones nervioso, de repente te traen algo mal. Aquí el pago al mensajero está en mano. Vi lo que había en el paquete, pagado, sin hacer preguntas. La entrega es rápida, los chicos son geniales. Como en el caso, todavía no puedo decirlo, lo he estado tomando durante un poco más de una semana. Decidida a adelgazar con Graziello en un mes para la boda de su hermana.</div>
                        <div class="commits__icon">
                            <a href=""><img src="../media/commits/icon-1.png" alt=""></a>
                            <a href=""><img src="../media/commits/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="commits__item">
                        <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                        <div class="commits__name">Paulina, <span>33 años</span></div>
                        <div class="commits__description">Dejé una solicitud en el sitio, el especialista me consultó cortésmente e aconsejo un curso. El pedido llegó a tiempo, el paquete estaba intacto. Lo tomo estrictamente de acuerdo con las instrucciones, me siento genial, la sensación de ligereza no se va del día a día! Después del curso pediré algunos paquetes más de Graziello.</div>
                        <div class="commits__icon">
                            <a href=""><img src="../media/commits/icon-1.png" alt=""></a>
                            <a href=""><img src="../media/commits/icon-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('block/footer') %>
    <%- include('block/script') %>
</body>

</html>