<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <section class="section section_contacts">
        <div class="section__text">Graziello</div>
        <div class="section_media-contacts"><img src="../media/section/media-contacts.png" alt=""></div>
        <div class="container">
            <div class="contacts">
                <h2 class="section__title contacts__title">Контакты</h2>
                <div class="contacts__subtitle">Телефон горячей линии</div>
                <div class="contacts__body">
                    <div class="contacts__info">
                        <div class="contacts__day">Понедельник-суббота с 8:00 до 21:00</div>
                        <a href="tel:+525585262026" class="contacts__phone"><img src="../media/contacts/icon-1.png" alt="">+525585262026</a>
                        <a href="mailto:graziello@gmail.com" class="contacts__phone"><img src="../media/contacts/icon-2.png" alt="">Graziello@gmail.com</a>
                    </div>
                    <div class="contacts__description">по телефону заказы не принимаются</div>
                </div>
            </div>
        </div>
    </section>
    <%- include('block/footer') %>
    <%- include('block/script') %>
</body>

</html>