<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <section class="section section_delivery">
        <div class="section__text">Graziello</div>
        <div class="container">
            <div class="delivery">
                <h1 class="section__title delivery__title">Доставка</h1>
                <h2 class="delivery__subtitle">ЗАКАЗАТЬ GRAZIELLO МОЖНО В НАШЕМ ОНЛАЙН-МАГАЗИНЕ:</h2>
                <div class="delivery__box">
                    <div class="delivery__item">
                        <div class="delivery__media">
                            <img src="../media/delivery/img-1.jpg" alt="">
                        </div>
                        <div class="delivery__description">Заполните форму заказа на этом сайте</div>
                    </div>
                    <div class="delivery__item">
                        <div class="delivery__media">
                            <img src="../media/delivery/img-2.jpg" alt="">
                        </div>
                        <div class="delivery__description">Дождитесь звонка оператора для уточнения деталей</div>
                    </div>
                    <div class="delivery__item">
                        <div class="delivery__media">
                            <img src="../media/delivery/img-3.jpg" alt="">
                        </div>
                        <div class="delivery__description">Оплатите посылку при получении</div>
                    </div>
                </div>
                <div class="delivery__footer">Внимание! Оригинальный Graziello продается только на официальном сайте и в онлайн-аптеках, входящих в сеть дистрибьютеров</div>
            </div>
        </div>
    </section>
    <section class="section section_table">
        <div class="container">
            <div class="table">
                <h2 class="section__title table__title">Доставка осуществляется курьерскими службами Fedex и UPS.</h2>
                <div class="table__body">
                    <div class="table__row">
                        <div class="table__col">Tipo de pago</div>
                        <div class="table__col">Tiempo de entrega por país</div>
                        <div class="table__col">Días y tiempo de entrega</div>
                    </div>
                    <div class="table__row">
                        <div class="table__col">Sólo efectivo</div>
                        <div class="table__col">2-7 días</div>
                        <div class="table__col">Desde el lunes hasta el viernes</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_pay">
        <div class="container">
            <div class="pay">
                <h2 class="section__title pay__title">Оплата заказа</h2>
                <div class="pay__body">
                    <div class="pay__subtitle">ОПЛАТИТЬ ЗАКАЗ МОЖНО СЛЕДУЮЩИМИ СПОСОБАМИ:</div>
                    <div class="pay__many">
                        <img src="../media/pay/many.png" alt="">
                        <p>Наличными курьеру при получении заказа</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('block/footer') %>
    <%- include('block/script') %>
</body>

</html>